---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 10;
---

<!-- <p style="text-align:center"><i>This site is currently under construction</i></p> -->


<img src="/img/Blunder-Valley-flames.jpg" alt="Welcome to Blunder Valley.">
<h2>Kevin O'Leary says he wants to build a $70 billion AI data centre project in Northwestern Alberta.</h2>
<p>If fully built, it would be the largest data centre park on the planet. He calls it "Wonder Valley."</p>
<p>But should Canadians buy into what he's selling, or is Kevin O'Leary full of hot air and sales hype?</p>
<p>Is this project good for people in the region? For Alberta? For Canada?</p>
<p>Or is it potentially a massive waste of money and resources that will only benefit a few people?</p>
<p>This site's mission is to look beyond the marketing buzzwords and press releases, in order to answer these questions and more.</p>


{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<!--
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>
-->

<h1>Latest Posts</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
